.collapsible {
    background-color: #3E8DA8;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 98%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 10px 1% 0 1%;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(24, 109, 134);
  }
  
  .content {
    color: black;
    font-size: 15px;
    padding: 0 18px;
    width: 98%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin: 0 1% 0 1%;
  }

  .show-content {
    display: block;
  }

  .hide-content {
    display: hidden;
  }