@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section {
    padding-top: 35px;
    width: 100vw; 
    min-height: 85vh; 
    max-width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="time"],
input[type="date"],
input[type="file"],
button,
select,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin: 10px;
  width: 95%;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

li {
    list-style-type: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    width: 51%;
    color: #fff;
    padding: 0.25rem;
    position: absolute;
    bottom: +100%;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-note input {
    height: 50px;
    margin-bottom: 0;
}

form.create-note textarea {
  margin-top: 5px;
  border-top: 1px solid rgb(196, 190, 190);
  border-radius: 0;
  height: 130px;
}

.delete-note-button {
    width: 90%;
    background-color: rgb(206, 37, 60);
    color: #fff;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.delete-note-button:hover {
    background-color: #d32f2f;
    transition: color 0.3s;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -28px;
  background: rgb(37, 167, 206);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 30%;
    margin: auto;
    position: absolute;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.title_div {
    background-color: #3E8DA8;
    border-bottom: 1px solid #297975;
    width: 100%;
    min-height: 8vh;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    font-size: 35px;
    color: #043d3d
}

.title_div h3 {
    text-align: center;
}

.shortcut-div {
    margin-left: 20px;
    width: 200px;
}

.title-admin-div {
    display: inline;
}

.title-admin-span {
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
    min-height: 5vh;
    height: 5vh;
    background-color: #3E8DA8;
    padding-top: 15px;
    padding-bottom: 0;
    color:#fff;
    font-size: 15px;
    font-weight: 250;
}

.footer {
    font-size: 14px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar {
    background-color: #3E8DA8;
    width: 100%;
    min-height: 7vh;
}

.nav-link-span {
    flex: 1;
    text-align: center;
    min-height: 7vh;
}

.nav-link {
    text-decoration: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    color: #043d3d;
}

.navbar-links {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
}

.nav-link-span:hover {
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.nav-link-span:hover .nav-link {
    color: #2f8a85; 
    transition: color 0.3s;
}

.active-span .nav-link{
    color: #2f8a85;
    background-color: #c8ced6; 
}

.hidden {
    display: none;
}

.logout-div {
    float: right;
    text-align: center;
    margin-top: 5px;
    width: 35%;
}

.logout-btn {
    background-color: #3AAFA9;
    color: #043d3d;
    border: none;
    text-align: center;
    margin-top: 0;
    font-size: 22px;
    cursor: pointer;
    width: 13%;
    padding: 0;
}

.logout-btn:hover{
    background-color: rgb(190, 2, 2);
}

.password-btn {
    background-color: #3AAFA9;
    color: #043d3d;
    border: none;
    text-align: center;
    margin-top: 0;
    font-size: 25px;
    cursor: pointer;
    width: 13%;
    padding: 0;
}

.password-btn:hover {
    background-color: #bcbbb7;
}

.user-name-div {
    background-color: #3AAFA9;
    color: #043d3d;
    border: none;
    text-align: center;
    margin-top: 0;
    font-size: 22px;
    width: 25%;
    padding: 0;
}

.table-container h2{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.password-reset-container {
    max-width: 90%; 
    overflow-x: hidden; 
    overflow-y: auto; 
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup.active {
    display: flex;
}

.popup-content {
    color: black; 
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content h3 {
    color: black; 
    margin-bottom: 10px;
}

.popup-content .close {
    color: red; 
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

.recommendations-table {
    border: 1px solid black;
    width: 100%;
    text-align: left;
}


.table-container {
    overflow-x: auto; 
}
  

.my-table {
    width: 100%; 
    border-collapse: collapse;
    text-align: center;
}

.my-table button {
    width: 20%;
}

.blue-button {
    background: rgb(37, 167, 206);
    color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.red-button {
    background: rgb(206, 37, 60);
    color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.gold-button {
    background: rgb(203, 206, 37);
    color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.green-button {
    background: rgb(37, 206, 60);
    color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.allowance {
    width: 15%;
    padding-left: 0;
    padding-right: 0;
}

.restriction {
    width: 15%;
    padding-left: 0;
    padding-right: 0;
}

.no-list-items-p {
    margin-top: 10%;
    text-align: center;
}

.no-list-items-np {
    text-align: center;
}

.test-score-p {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.system-title {
    display: block;
}

.notification-item {
    background-color: rgba(255, 255, 255, 0.54);
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
    font-size: 18px;
    width: 75%;
    margin: 5px auto;
}

.close-button {
    background-color: none;
    border: none;
    font-weight: bold;
    float: right;
    padding-top: 0;
    margin-top: 0;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
    width: 10%;
}

.close-button {
    background-color: white;
    
}

.close-button:hover {
    color: #d32f2f;
    transition: color 0.3s;
}

.notification-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #5DADE2;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.notifications-container {
    width: 100%;
    align-items: center;
}

.notificationsdiv-container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 25px;
}

.input_form {
    margin-left: 32.5%;
}

.greeting-note {
    text-align: center;
    font-size: 35px;
    padding-bottom: 40px;   
}

tbody tr {
    border-bottom: 1px solid black;
}

.center-testp {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

.had-test-create-btn {
    margin-right: 40%;
}

.red {
    color: red;
}

.green {
    color: green;
}

.error-message {
    color: red;
}

.filter-container {
    width: 100%;
    height: 100%;
}

.filter-container .filter-container-input {
    width: 100%;
    font-size: 15px;
    margin-top: 2px;
}

@media screen and (max-width: 768px) { 
    section {
        max-width: 100%;
    }

    .related-button {
        margin-left: 0;
    }

    .no-list-items-p {
        margin-top: 40%;
    }

    html {
        font-size: 18px;
    }

    .notification-item{
        width: 100%;
        margin-left: 0;
    }

    .nav-link-span {
        display: block;
        max-width: 50%;
    }

    .navbar-links {
        display: block;
    }

    .logout-div {
        width: 40%;
    }

    .allowance {
        width: 90%;
    }
    
    .restriction {
        width: 90%;
    }
}

.auth_button, .load-button-v1, .play-button, .create-button {
  padding: 0.25rem 0.75rem;
  font-size: 1.3rem;
  background: "transparent";
  border-radius: 3px;
  display: inline-block;
  border: 2px solid #000;
  cursor: pointer;
  transition: 0.25s;
  will-change: transform;
  box-shadow: -1px 1px 0px #333,
    -2px 2px 0px #333,
    -3px 3px 0px #333,
    -4px 4px 0px #333;
}

.load-button-v1 {
    width: 50px;
}

.create-button {
    width: 25%;
}

.auth_button:hover, .load-button-v1:hover, .play-button:hover, .create-button:hover {
    transform: scale(1.05);
    box-shadow: -1px 1px 0px #333, -2px 2px 0px #333, -3px 3px 0px #333,
      -4px 4px 0px #333, -5px 5px 0px #333, -6px 6px 0px #333;
}

.auth_button:active, .load-button-v1:active, .play-button:active, .create-button:active {
    transform: scale(0.95);
    box-shadow: -1px 1px 0px #222, -2px 2px 0px #222;
}

.create-btn-div {
    padding-bottom: 15px;
}

.import-file-div {
    margin:auto;
    width: 25%;
}

#csvFileInput {
    width: 100%;
}

#file-bth {
    width: 95%;
}

.animated-header {
  animation: header-animation 2s infinite linear;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 4rem;
}

.reg-succ-div {
    width: 50%;
    margin: auto;
    background-color: white;
    color: black;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    margin: auto;
    border: 5px double #c6c6cb;
}

.reg-succ-div p{
    font-size: 25px;
}

.engine-holder-div {
    width: 100%;
    margin: auto;
    color: black;
}

.training-engine-holder-div {
    width: 70%;
    margin: auto;
    color: black;
    max-height: 90vh;
    overflow: auto;
}

.close-training-button-div {
    text-align: center;
}

.keyboard-div {
    position: absolute;
    right: 10px;
    overflow: auto;
    max-height: 70vh;
    min-height: 70vh;
    overflow: auto;
    background-color: white;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 48%;
    margin: auto;
    margin-right: 0;
    border: 5px double #c6c6cb;
    text-align: center;
}

.engine-page {
    width: 100%;
}

.content-holder-div {
    right: 10px;
    overflow: auto;
    max-height: 70vh;
    overflow: auto;
    background-color: white;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    border: 5px double #c6c6cb;
    text-align: center;
}

.inline-chd{
    color:black;
    margin-top: 0;
    width: 92%;
}

.left-chd {
    display: inline-block;
    width: 46%;
    margin: 1%;
    min-height: 450px;
}

.right-chd {
    display: inline-block;
    width: 46%;
    margin: 1%;
    min-height: 450px;
}

.badge-div {
    margin:20px auto;
    width: 90%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.badge-span {
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    height: 250px;
    overflow: auto;
    background: #fff;
    text-align: center;
}

.badge-span button{
    width: 30%;
    position: relative;
    bottom: -50px
}

.note-div {
    margin:30px auto;
    width: 90%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.note-span {
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    height: 200px;
    overflow: auto;
    background: #fff;
}

.users-list-div {
    margin:20px auto;
    width: 90%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    
}

.users-list-span{
    height: 70px;
}

.times-two {
    grid-column: span 3;
    text-align: left;
}

.users-list-header {
    height: 100%;
    text-align: left;
}

.users-list-header p {
    margin: auto;
    font-size: 40px;
    font-weight: 600;
}

.admin-section {
    color: black;
    background-color: #fff;
    overflow: auto;
    max-height: 90vh;
}