.container {
    max-width: 650 px;
    margin: 5px;
    max-height: 45vh;
    width: calc(100% - 10px);
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
}

.test {
    user-select: none;
}

.speed-input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}

span {
    font-size: 20px;
    user-select: none;
    cursor: tex;
}

span.active {
    border-bottom: 3px solid blue;
}

span.correct {
    background-color: rgb(22, 178, 22);
}

span.wrong {
    color: darkred;
    background-color: pink;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px solid rgb(106, 106, 104);
}

button.btn {
    padding: 0.25rem 0.75rem;
    font-size: 1.3rem;
    background: "transparent";
    border-radius: 3px;
    display: inline-block;
    border: 2px solid #000;
    cursor: pointer;
    transition: 0.25s;
    will-change: transform;
    box-shadow: -1px 1px 0px #333,
        -2px 2px 0px #333,
        -3px 3px 0px #333,
        -4px 4px 0px #333;
}

button.btn:hover {
    background-color: #049715;
}