.container {
    max-width: 650 px;
    margin: 5px;
    max-height: 45vh;
    width: calc(100% - 10px);
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
}

.test {
    user-select: none;
}

.speed-input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}

span {
    font-size: 20px;
    user-select: none;
    cursor: tex;
}

span.active {
    border-bottom: 3px solid blue;
}

span.correct {
    background-color: rgb(22, 178, 22);
}

span.wrong {
    color: darkred;
    background-color: pink;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px solid rgb(106, 106, 104);
}

button.btn {
    background: #3E8DA8;
    color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    width: 100%;
}

button.btn:hover {
    background: rgb(24, 109, 134);
}