.quiz-container {
    width: 100%; 
    max-height: 50vh;
    min-height: 50vh;
    overflow: auto;
    background-color: white;
    border: 5px double #c6c6cb;
    padding: 30px 60px;
    box-sizing: border-box;
    margin: auto;
}

.active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: blue;
}

.total-questions {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.quiz-question {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.quiz-ul {
    margin-top: 20px;
    margin-left: -40px;
}

.quiz-li {
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
}

.selected-answer {
    background: black;
    color: white;
    border: 1px solid black;
}

.quiz-footer {
    display: flex;
    justify-content: flex-end;
}

.quiz-button {
    padding: 0.25rem 0.75rem;
    font-size: 1.3rem;
    background: "transparent";
    border-radius: 3px;
    display: inline-block;
    border: 2px solid #000;
    cursor: pointer;
    transition: 0.25s;
    will-change: transform;
    box-shadow: -1px 1px 0px #333,
        -2px 2px 0px #333,
        -3px 3px 0px #333,
        -4px 4px 0px #333;
}

.quiz-button:disabled {
    cursor: not-allowed;
    background-color: grey;
    color: rgb(190, 189, 189);
}

.quiz-result {
    text-align: center;
}

.quiz-h3 {
    font-size: 24px;
    letter-spacing: 1.4px;
    text-align: center;
}

.quiz-p {
    font-size: 16px;
    font-weight: 500;
}

.quiz-span {
    color: black;
    font-size: 22px;
}

.quiz-input {
    border: 5px double #c6c6cb;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}

.timer-div-main {
    position: relative;
    width: 100%;
}