.container {
    width: 98%;
    min-height: 140px;
    background-image: url("./badges-image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container-one {
    width: 60%;
    min-height: 150px;
    background-image: url("./badge-default.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 'auto';
}